// Vendor
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "../bower_components/neat/app/assets/stylesheets/neat";

// Shared
@import "mixins";
@import "partials/vars";
@import "partials/shared";
@import "partials/util";
@import "partials/type";
@import "partials/error-messages";

// modules
@import "partials/header";
@import "partials/footer";

// pages
// -----

// Index
@import "partials/hero";
@import "partials/sign-up";
@import "partials/sessions";
@import "partials/tickets";
@import "partials/after-party";
@import "partials/sponsors";
@import "partials/code-of-conduct";
@import "partials/location-info";

// Schedule
@import "partials/schedule";
@import "partials/schedule-full-details-modal";

// Single
@import "partials/single-page";

//Blog
@import "partials/blog";
@import "partials/blog-single";
@import "partials/player";

body {
  background-color: #FFFFFF;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
  font-size: 1em;
}

body.lock-scroll {
  overflow: hidden;
}
