
@import "vendor/normalize";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@import "partials/vars";

@import "mixins";
@import "partials/type";

@import "partials/header";
@import "partials/hero";
@import "partials/about";
@import "partials/sign-up";
@import "partials/speakers";
@import "partials/tickets";
@import "partials/after-party";
@import "partials/sponsors";
@import "partials/location-info";
@import "partials/timetable";
@import "partials/schedule-more-info";
@import "partials/single-page";
@import "partials/footer";

body {
  background-color: #FFFFFF;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
  font-size: 1em;
}

body.lock-scroll {
  overflow: hidden;
}

h2,h3 {
  font-family: 'jaapokki-regular';
}

.hidden-tablet {
  @include media($tablet) {
    display: none;
  }
}



.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
