// Vendor
@import "vendor/normalize";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// Shared
@import "mixins";
@import "partials/vars";
@import "partials/shared";
@import "partials/util";
@import "partials/type";

// modules
@import "partials/header";
@import "partials/footer";

// pages
// -----

// Index
@import "partials/hero";
@import "partials/sign-up";
@import "partials/sessions";
@import "partials/tickets";
@import "partials/after-party";
@import "partials/sponsors";
@import "partials/location-info";

// Schedule
@import "partials/schedule";
@import "partials/schedule-full-details-modal";

// Single
@import "partials/single-page";

body {
  background-color: #FFFFFF;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
  font-size: 1em;
}

body.lock-scroll {
  overflow: hidden;
}
