---
layout: default
permalink: 'schedule/'
title: Schedule
room_list:
  - Room A
  - Room B
---

<section class="schedule">

  <div class="schedule__column schedule__column--slim">

    <div class="section-header section-header--without-description ">
      <h2 class="section-header__title section-header__title--without">Schedule</h2>
    </div>

    <div class="schedule__links">
      <a href="#talks" class="schedule__link js-schedule-toggle" data-schedule-type="talks">Talks</a>
      <a href="#workshops" class="schedule__link js-schedule-toggle" data-schedule-type="workshops">Workshops</a>
    </div>

    <p class="schedule__info js-schedule__info js-schedule__info--workshops">There’ll be 2 workshops running concurrently throughout the day. Each one will run twice.</p>
  </div>

  <div class="schedule__column schedule__column--normal">
    <div class="section-header section-header--without-description hidden-tablet"></div>

    <table class="schedule__sessions js-schedule__sessions--speakers js-offset-parent">
      <tbody>
        {% for speaker in site.data.speakers %}
        {% if speaker.speaker %}
        <tr id="anchor-{{speaker.anchor}}" class="schedule__session schedule__session--mins-{{speaker.duration}} {{speaker.soon}}" data-image="{{speaker.image}}" data-name="{{speaker.name}}" data-position="{{speaker.position}}" data-company="{{speaker.company}}" data-url="{{speaker.url}}" data-twitter="{{speaker.twitter}}" data-github="{{speaker.github}}" data-title="{{speaker.title}}" data-description="{{speaker.description}}">
          <td class="schedule__session-column schedule__start-time">{{speaker.start_time}}</td>
          <td class="schedule__session-column schedule__details">
            <h2 class="schedule__title">{{speaker.title}}</h2>
            <h3 class="schedule__host">{{speaker.name}}</h3>
            <img src="/img/open-arrow.svg" alt="Click to open" class="schedule__open-symbol">
          </td>
        </tr>

        {% else %}
        <tr class="schedule__session schedule__session--break schedule__session--mins-{{ speaker.duration }}">
          <td class="schedule__session-column schedule__start-time schedule__start-time--break">{{ speaker.start_time }} <span class="schedule__session-name schedule__session-name--{{speaker.break}}">{{speaker.title}}</span></td>
          <td class="schedule__session-column schedule__details schedule__details--break"></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <table class="schedule__sessions schedule__sessions--workshops js-schedule__sessions--workshops js-offset-parent">
      <tbody>
        {% for time_slot in site.data.workshops_schedule %}

          <tr class="schedule__workshop-slot">
            <td class="schedule__session-column schedule__session--workshop schedule__start-time">{{time_slot.start_time}}</td>
            <td>
              {% for room in page.room_list %}
                {% assign workshop = site.data.workshops | where: "anchor", time_slot[room] %}
                {% assign workshop = workshop.first %}
                <div id="anchor-{{workshop.anchor}}" class="schedule__session-column schedule__session--workshop schedule__details js-schedule__details schedule__session--mins-{{workshop.duration}} {{workshop.soon}}" data-image="{{workshop.image}}" data-name="{{workshop.name}}" data-position="{{workshop.position}}" data-company="{{workshop.company}}" data-url="{{workshop.url}}" data-twitter="{{workshop.twitter}}" data-github="{{workshop.github}}" data-title="{{workshop.title}}" data-description="{{workshop.description}}">
                  <h2 class="schedule__title">{{room}}</h2>
                  <h2 class="schedule__title">{{workshop.title}}</h2>
                  <h3 class="schedule__host">{{workshop.name}}</h3>
                  <img src="/img/open-arrow.svg" alt="Click to open" class="schedule__open-symbol">
                </div>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include speaker-modal.html %}

</section>

<div class="schedule-session-details-overlay"></div>