.after-party {
  @include outer-container;
  @include outer-padding;
  @include fill-parent();
  @include row(table);
  position: relative;
  margin-bottom: 100px;

  @include media($tablet) {
    padding: 0;
  }
  @include media($mobile) {
    margin-top: 100px;
  }
}

.after-party__feature-image {
  @include span-columns(6);
  background: url(../img/we-work.jpg) center no-repeat;
  background-size: cover;
  max-height: 400px;

  @include media($tablet) {
    @include span-columns(6);

  }

  @include media($mobile) {
    display: none;
  }
}

.after-party__info {
  @include span-columns(6);
  background: $beyond-yellow url(../img/after-party-decoration.svg);
  background-size: cover;
  background-position: center;
  height: 400px;
  max-height: 400px;
  color: #ffffff;
  position: relative;

  @include media($mobile) {
    @include span-columns(4);
  }

  @include reset-display;
}
.after-party__info__badge {
  width: 230px;
  position: absolute;
  right: -10px;
  top: -40px;
  text-decoration: none;

  @include media($tablet){
    right: 0;
  }
}
.after-party__info__description {
  margin: 230px 40px 0;
  border-top: solid #fff 5px;
  padding: 20px 0 0 0;
  font-size: 1.05em;
  font-family: $jaapokki;
  text-transform: uppercase;
}