.about {
  @include outer-container();
  padding: 100px $gutter;

  color: $beyond-salmon;
}

.about__primary,
.about__secondary {
  @include span-columns(5);

  @include media($tablet) {
    @include span-columns(9);
    @include shift(1.5);
  }
}

.about__secondary {
  @include shift(1);

  @include media($tablet) {
    margin-top: 50px;
    @include shift(1.5);
  }
}

.sign-up {
  @include outer-container();
  padding: 100px $gutter;

  @include media($tablet) {
    padding: 0 $gutter 100px;
  }
}

form {
  @include span-columns(12);

  @include media($tablet) {
    @include span-columns(9);
    @include shift(1.5);
  }
}
.sign-up input {
  float: left;
  border: none;
  outline: none;
  padding: 12px 12px 12px 0;

  border-bottom: solid 8px $beyond-yellow;
}

.sign-up__name,
.sign-up__email {
  width: 40%;

  @include placeholder {
    color: $beyond-yellow;
  }

  @include media($tablet) {
    width: 100%;
  }
}

.sign-up__name {
  margin: 0 1% 0 0;
}

.sign-up__submit {
  color: #FDFFF4;
  background-color: $beyond-blue;
  width: 19%;

  @include media($tablet) {
    width: 100%;
  }
}
.sign-up .sign-up__submit {
  @include media($tablet) {
    border: none;
  }
}

.info {
  @include clearfix();
}

.info__block {
  width: 50%;
  float: left;
  height: 300px;

  position: relative;
  overflow: hidden;

  @include media($tablet) {
    width: 100%;
  }
}

.info__block--extra {
  height: 400px;

  @include media($tablet){
    height: 300px;
  }
}

.info__partners {
  color: $beyond-yellow;
  background-color: $beyond-blue;
}

.info__sponsors {
  color: $beyond-blue;
  background-color: $beyond-yellow;
}

.info__block__inside {
  padding: 50px 0 0 0;
  width: 500px;
  max-width: 80%;
  margin: 0 auto;
}

.info__block__inside--left {
  padding-right: $column;
  float: right;
  @include media($tablet){
    padding: 50px 0;
    float: none;
    text-align: center;
  }
}

.info__block__inside--right {
  padding-left: $column;
  float: left;
  @include media($tablet){
    padding: 50px 0;
    float: none;
    text-align: center;
  }
}

.partner-logo {
  float: left;
}

.partner__girls-in-tech {
  width: 90px;
  margin-top: -5px;
  margin-left: -5px;
  max-width: 30%;

}

.partner__makers-academy {
  width: 300px;
  max-width: 65%;

  margin: 0 0 5px 15px;
}

.partner__code-first-girls {
  width: 200px;
  max-width: 65%;

  margin: 0 0 10px 15px;
}

.info__venue {
  background: linear-gradient( rgba(255, 0, 0, 0.35), rgba(255, 0, 0, 0.35) ), url(http://placehold.it/500x500) no-repeat center;
  background-size: cover;
}

.info__venue__address {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  -webkit-transform: translate(-60%, -50%);


  font-family: 'jaapokki-regular';
  color: #fff;
  font-size: 1.3em;
  line-height: 1.3;
  font-style: normal;

  @include media($tablet){
    font-size: 1.1em;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

.info__map {
  padding: 20px 0;
  background-color: $beyond-pink;
  text-align: center;
}

.info__map__graphic {
  width: 500px;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
