footer {
  @include outer-container;
  color: #2670CA;
  padding: 25px 0;
  @include outer-padding;
  margin-top: 40px;
  line-height: 2em;
  border-top: 5px solid $beyond-salmon;
}

.footer__organised-by {
  float: right;
  margin: 0;
  a {
    color: $steer-red;
    text-decoration: none;
    border-bottom: solid 3px $steer-red;
    font-weight: 700;
  }
}

.footer__nav {
  float: left;
  a {
    text-decoration: none;
    color: $beyond-salmon;
    border-bottom: none;
    margin-right: 74px;
    font-weight: 700;
  }
}