.header {
  @include outer-container;
  padding: 50px 0;
  @include media($mobile) {
    padding-top: 20px;
  }
}

.header__social {
  float: left;
}

.header__social__icon {
  width: 40px;
  margin: 0 10px 0 0;
}

.header__event-date {
  float: left;
  font-family: 'jaapokki-regular';
  color: $beyond-blue;
  line-height: 1.4;
  font-size: 1.1em;
  margin: 0 0 0 20px;
}

.date-contraction {
  vertical-align: super;
  font-size: 0.7em;
}

.header__nav {
  @include media($mobile) {
    text-align: center;
    float: none;
  }
  a {
    font-family: 'jaapokki-regular';
    text-decoration: none;
    font-size: 1.1em;
    color: $beyond-salmon;
    margin-left: 35px;
    &:hover {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 11px solid $beyond-salmon;
      border-image: url(../img/underline-squiggle.png) 26 0 fill;
    }
    @include media($mobile) {
      margin-left: 0;
      padding: 0 20px;
    }
  }


}