.header {
  @include outer-container;
  padding: 75px 0 50px 0;
  @include media($mobile) {
    padding-top: 20px;
  }
}

.header__social {
  float: left;

  @include media($tablet) {
    float: none;
  }
  @include media($mobile) {
    margin: 20px 0;
  }
}

.header__social__icon {
  width: 40px;
  margin: 0 10px 0 0;
}

.header__event-date {
  float: left;
  font-family: 'jaapokki-regular';
  color: $beyond-blue;
  line-height: 1.4;
  font-size: 1.1em;
  margin: 0 0 0 20px;

  @include media($tablet) {
    float: none;
    margin: 20px 0;
  }
}

.date-contraction {
  vertical-align: super;
  font-size: 0.7em;
}

.header__nav {
  a {
    font-family: 'jaapokki-regular';
    text-decoration: none;
    font-size: 1.1em;
    color: $beyond-salmon;
    margin-left: 35px;
    &:hover {
      // border-bottom: 2px solid $beyond-salmon;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 11px solid $beyond-salmon;
      border-image: url(../img/underline-squiggle.png) 26 0 fill;
    }
  }
}

.hero {
  @include outer-container;
}

.hero__text {
  @include span-columns(7);
  margin: 200px 0 100px;
}

.beyond-illustration {
  @include span-columns(5);

  @include media($tablet) {
    @include span-columns(3.5);
    padding-top: 5%;
  }

  @include media($mobile) {
    display: none;
  }
}

.hero__lead {
  color: $beyond-blue;
  font-family: 'jaapokki-regular';
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 2.4em;
  line-height: 1.6;
  margin-bottom: 50px;

  @include media($laptop) {
    margin: 150px 0 100px;
    font-size: 2.1em;
  }

  @include media($tablet) {
    margin: 50px 0 50px;
    font-size: 1.3em;
  }
}

.hero__sub-lead {
  color: $beyond-blue;
  font-size: 2.4em;
  text-transform: uppercase;
  @include media($tablet) {
    margin-bottom: 0;
  }
}

.hero__beyond-logo {
  width: 150px;
  @include media($tablet) {
    width: 160px;
  }
}
