.header {
  @include outer-container;
  padding: 50px 0;
  @include outer-padding;
  @include media($mobile) {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 0;
  }
}

.header__logo {
  float: left;
  width: 230px;
  margin: 0 10px 0 0;

  @include media($mobile) {
    float: none;
    display: block;
    width: 200px;
    margin: 0 auto;
  }
}

.header__logo__img {
  width: 100%;
}

.header__event-date {
  float: left;
  font-family: 'jaapokki-regular';
  color: $beyond-blue;
  line-height: 1.4;
  font-size: 1.1em;
  margin: 0 0 0 20px;

  @include media($tablet) {
    line-height: 1.3;
  }
  @include media($mobile) {
    float: none;
    font-size: 1.3em;
    margin: 30px 0 20px 0;
  }
}

.date-contraction {
  vertical-align: super;
  font-size: 0.7em;
}

.header__nav {

  @include media($tablet) {
    float: right;
    text-align: right;

  }
  @include media($mobile) {
    float: none;
    text-align: center;
  }

  a {
    font-family: 'jaapokki-regular';
    text-decoration: none;
    font-size: 1.1em;
    color: $beyond-salmon;
    margin: 0 0 0 35px;
    position: relative;

    @include media($tablet) {
      margin: 0 30px 15px 0;
      display: block;
    }
    @include media($mobile) {
      margin: 0;
    }

    &:hover, &.active-link {

      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAAKCAYAAAAUyhYIAAAB0ElEQVR4AdWUA9AbURSFT23btm3bVrL31RjUtge1Na5t69fufbVt23Z756V2k1TfzEmyPJfBNykZEBb1NsTAfw858UW9QXxE9AJKv4bim6LZcNsF4U9cIamNl9IzxGspLD0Sll0OQCh/JtQExLdA+pQxc9uVjAlxBzHeaxIknox6HAm+UC8gIRQvEJ9XokOiOeI3U773vC3iAVBIAfhmMj8MSE8TPYXldDfHX8NiJYb3QLwdNQNiwhssrmgKp/QOKLvoV7qXB6QDQPxcvjvCa0iP8Bg5hfAj3MGZofgaiLf98r65HQtKP4Pi4WZfv8mA0LB40NuudYVXWMGJQE5W/CwuJ6cpwq8kRk47KP1SvjvjZyEeaBKzuAt+Fim6mQavUJxLDG/I9264gtJ9Z7TDQzojeiJy/bqPM9STmO7144Tsgm9jmg2vcXM2kD4K4vvG1BUS65MRIl3NLD/xWVh2MXiLpfu/HcWVaBiUDJ9TaXUEKO5rRpt4lPH2iWorIpsXkX7g6YbeC2LHVEySNdfqBUSFr3j+YC6JnovPPCink3i2ATnj5Pu6p3Byjz8xu2Vpt9kD4n5i1hDV7WjwJ6aATksQbxCdgeITpnvia7r1EW8Af9j1zoI6XaoAAAAASUVORK5CYII);
        width: 53px;
        height: 10px;

        @include media($tablet) {
          display: none;
        }
      }

    }
    @include media($mobile) {
      font-size: 1.4em;
      margin-left: 0;
      padding: 10px;
      display: block;
      background-color: $beyond-salmon;
      color: #FFFFFF;
      margin-bottom: 10px;
    }
  }
  .schedule-link {
    @include media($mobile){
      display: none;
    }
  }
}