.hero {
  @include outer-container;
  margin-bottom: 50px;
}

.hero__text {
  @include span-columns(6);
  margin: 200px 0 100px;
  @include media($mobile) {
    margin: 50px 0 50px;
    width: 100%;
  }
}

.beyond-illustration {
  @include shift(1);
  @include span-columns(5);

  @include media($tablet) {
    @include span-columns(3.5);
    padding-top: 5%;
  }

  @include media($mobile) {
    display: none;
  }
}

.beyond-illustration--mobile {
  display: none;
  @include media($mobile) {
    width: 100%;
    display: block;
    margin: 0;
  }
}

.hero__lead {
  color: $beyond-blue;
  font-family: 'jaapokki-regular';
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 2.4em;
  line-height: 1.6;
  margin-bottom: 50px;

  @include media($mobile) {
    font-size: 2.5em;
  }
}

.hero__sub-lead {
  color: $beyond-blue;
  font-size: 2.4em;
  text-transform: uppercase;
  @include media($tablet) {
    margin-bottom: 0;
  }
  @include media($mobile) {
    font-size: 2.5em;
  }
}

.hero__beyond-logo {
  width: 150px;
  @include media($tablet) {
    width: 160px;
  }
}
