
.info {
  @include clearfix();
}

.info__block {
  width: 50%;
  float: left;
  min-height: 300px;

  position: relative;
  overflow: hidden;

  @include media($tablet) {
    width: 100%;
  }
}

.info__block--large {
  height: 400px;

  @include media($tablet) {
    height: 300px;
  }
}

.info__partners {
  color: $beyond-yellow;
  background-color: $beyond-blue;
}

.info__sponsors {
  color: $beyond-blue;
  background-color: $beyond-yellow;
}

.info__block__inside {
  padding: 50px 0 0 0;
  width: 500px;
  max-width: 80%;

  @include media($tablet){
    margin: 0 auto;
    text-align: center;
  }
}

.info__block__inside--left {
  padding-right: $column;
  float: right;

  @include media($tablet){
    padding: 50px 0;
    float: none;
  }
}

.info__block__inside--right {
  padding-left: $column;
  float: left;

  @include media($tablet){
    padding: 50px 0;
    float: none;
  }
}

.info__partners__logo {
  float: left;
}

.partner__girls-in-tech {
  width: 90px;
  // fix white border around imahge with neg margin
  margin-top: -5px;
  margin-left: -5px;
  max-width: 30%;

}

.partner__makers-academy {
  width: 300px;
  max-width: 67%;

  margin: 0 0 10px 3%;
}

.partner__code-first-girls {
  width: 200px;
  max-width: 67%;

  margin: 0 0 0 3%;
}

.info__venue {
  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0,0, 0.25) ), url(../img/milton-court.jpg) no-repeat center;
  background-size: cover;
}

.info__venue__address {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  -webkit-transform: translate(-60%, -50%);


  font-family: 'jaapokki-regular';
  color: #fff;
  font-size: 1.3em;
  line-height: 1.3;
  font-style: normal;

  @include media($tablet) {
    font-size: 1.1em;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

.info__map {
  padding: 20px 0;
  background-color: $beyond-pink;
  text-align: center;
}

.info__map__graphic {
  width: 500px;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
