.schedule__more-info {
  background-color: $beyond-salmon;
  height: 100%;
}

.slot-info__meta {
  padding: 15px;
  @include clearfix;
}

.slot-info__speaker-details {
  float: left;
  margin-bottom: 30px;
  h3 {
    margin-bottom: 0;
    color: #FFFFFF;
  }
}

.slot-info__links {
  float: right;
  a {
    margin-left: 15px;
    text-decoration: none;
  }
}

.slot-info__description {
  padding: 15px;
  color: #FFFFFF;
  h3 {
    margin-bottom: 10px;
  }
}