.speakers, .workshops {
  @include outer-container;
  @include outer-padding;
  @include clearfix();
  margin-bottom: 100px;
  position: relative;

  @include media($tablet) {
    padding: 0;
  }

  @include media($mobile) {
    padding: 20px 0;
  }
}

.speakers__wrap {
  background: $beyond-blue url(../img/speaker-wrap-pattern-background.svg) repeat;
  background-size: 400px;
}

.session {
  float: left;
  width: 75%;
  position: relative;
  background-color: $beyond-salmon;
  color: #fff;
  text-decoration: none;
  cursor: pointer;

  @include media($laptop) {
    width: 100%;
  }
}
// 3s(3,6,9) + 7s(7,14) speaker yellow
.session:nth-of-type(3n),
.session:nth-of-type(3n):before,
.session:nth-of-type(7n),
.session:nth-of-type(7n):before {
  background-color: $beyond-yellow;
  color: #fff;
}
// Every other speaker white  (overides 6 form above)
.session:nth-of-type(2n+2),
.session:nth-of-type(2n+2):before {
  background-color: #fff;
  color: $beyond-blue;
}

// overide Speaker 9 from yeelow above
.session:nth-of-type(9n),
.session:nth-of-type(9n):before{
  background-color: $beyond-salmon;
  color: #fff;
}
// 2,7,12
.session:nth-of-type(5n-3) {
  float: right;
}
// 3
.session:nth-of-type(3n) {
  float: right;
}
// 9
.session:nth-of-type(9n) {
  float: left;
}

// default hover
.session:before {
    background-color: $beyond-salmon;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    display: none;
    z-index: 10;
}

.session:not(.session--coming-soon):hover:before {
    display: block;
}

.session--coming-soon {
  @include media($mobile) {
    display: none;
  }
}

.session__info {
  padding: 30px 30px 0;
  position: relative;
  z-index: 20;

  @include media($mobile) {
    padding: 10px;
  }
}

.session__info--coming-soon {
    padding: 0;
    background-image: url(../img/speaker-coming-soon-bottom.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

.session__info--speaker {
  float: left;
  width: 66.6667%;

  @include media($tablet) {
    width: 80%;
  }
  @include media($mobile) {
    width: 60%;

  }
}

.session__info--workshop {
  float: left;
  width: 100%;
  height: 75px;
  z-index: 10;
  padding: 10px;
  // removes weird 1px line that the bg image doesn't cover at some sizes;
  margin-top: -1px;

  @include media($tablet) {
    height: auto;
  }
}
.session__name,
.session__position,
.session__company,
.session__title,
.session__description {
  color: inherit;
  margin: 0;
  font-family: inherit;
  font-size: 0.9em;
}

.session__description {
  @include media($tablet) {
    display: none;
  }
}
.session__name {
  font-family: $jaapokki;
  font-size: 1.3em;

  @include media($mobile) {
    font-size: 1em;
  }
}
.session__name--workshop {
  font-size: 0.9em;
  font-family: $varela;
  color: #fff;
}
.session__title {
  font-family: $jaapokki;
  font-size: 1.1em;
  margin-bottom: 20px;
  @include media($laptop){
    margin-bottom: 0;
  }
  @include media($mobile){
    font-size: 0.9em;
    font-family: $varela;
  }
}

.session__title--workshop {
  color: #fff;
  margin-bottom: 0;
}
.session__image {
  max-width: 100%;
  display: block;
  @include media($mobile) {
    float: left;
    max-width: 140px;
    margin-right: 10px;
  }
}

.session__image--speaker {
  float: left;
  width: 33.3334%;

  @include media($tablet) {
    float: left;
    width: 20%;
  }
  @include media($mobile) {
    width: 40%;
    margin-right: 0;
  }
}

.session:nth-of-type(3n) .session__image--speaker {
  float: right;
  @include media($tablet) {
    float: left;
  }
}

.session--workshop:nth-last-of-type(2n),
.session--workshop:nth-last-of-type(2n):before {
  background-color: $beyond-yellow;
}

.session:nth-of-type(4n) .session__image--speaker {
  float: right;
  @include media($tablet) {
    float: left;
  }
}
.session:nth-of-type(6n) .session__image--speaker {
  float: left;
}
.session:nth-of-type(7n) .session__image--speaker {
  float: right;
  @include media($tablet) {
    float: left;
  }
}
.session:nth-of-type(9n) .session__image--speaker {
  float: left;
}

.session__image--workshop {
  @include media($tablet) {
    width: 100%;
  }
  @include media($mobile) {
    max-width: 100%;
  }
}

.session--workshop {
  width: 50%;
  @include media($tablet) {
    width: 100%;
  }
}

.session--workshop-coming-soon {
  @include media($tablet) {
    display: none;
  }
}

.session__info--workshop-coming-soon {
  background-image: url(../img/workshop-coming-soon-bottom.png);
}

.session__workshop-comming-soon-badge {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 200px;
  z-index: 20;
  @include media($tablet) {
    display: none;
  }
}