.sign-up {
  @include outer-container;
  padding: 50px 0 20px;
  @include outer-padding;

  h2 {
  color: $beyond-yellow;
  margin-bottom: 20px;
  }
}

form {
  @include span-columns(12);
  @include clearfix;
}

label {
  display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.sign-up input {
  border: none;
  outline: none;
  border-radius: 0;
}

.sign-up__name,
.sign-up__email {
  float: left;
  width: 40%;
  margin: 0 1% 0 0;
  padding: 16px 16px 16px 20px;
  background-color: #FFF4DB;

  @include placeholder {
    color: $beyond-yellow;
  }

  @include media($tablet) {
    width: 49%;
    margin-bottom: 10px;
  }

  @include media($mobile) {
    width: 100%;
  }
}

.sign-up__email {
  @include media($tablet) {
    float: right;
    margin-right: 0;
  }
}

.sign-up__submit {
  float: left;
  font-family: 'jaapokki-regular';
  color: #FDFFF4;
  font-size: 1.1em;
  background-color: $beyond-salmon;
  width: 18%;
  padding: 12px 0;

  @include media($tablet) {
    width: 100%;
  }
}

.sign-up__message {
  @include span-columns(12);
  text-align: center;
  padding: 15px 0;
}

.sign-up__message--fail {
  color: $beyond-salmon;
}

.sign-up__message--success {
  color: $beyond-blue;
}

.sign-up__message a {
  color: $beyond-yellow;
  text-decoration: none;
  border-bottom: solid 2px $beyond-yellow;
}
