.sign-up {
  @include outer-container;
  @include outer-padding;
  margin-bottom: 100px;

  h2 {
  color: $beyond-salmon;
  margin-bottom: 20px;
  }
}

form {
  @include span-columns(12);
  @include clearfix;
}

label {
  display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.sign-up input {
  outline: none;
  border-radius: 0;
}

.sign-up__name,
.sign-up__email {
  float: left;
  width: 40%;
  border: 5px solid $beyond-salmon;
  margin: 0 0 0 0;
  padding: 10px 8px 6px 12px;
  line-height: 2;

  @include placeholder {
    color: $beyond-salmon;
  }

  @include media($tablet) {
    width: 50%;
    margin-bottom: 10px;
  }

  @include media($mobile) {
    width: 100%;
  }
}

.sign-up__email {
  border-left: none;
  line-height: 2;
  @include media($tablet) {
    float: right;
    margin-right: 0;
  }

  @include media($mobile) {
    border-left: 5px solid $beyond-salmon;
  }
}

.sign-up__submit {
  float: left;
  font-family: 'jaapokki-regular';
  color: #FDFFF4;
  font-size: 1.2em;
  background-color: $beyond-salmon;
  border: 5px solid $beyond-salmon;
  width: 20%;
  padding: 13px 0 6px;

  @include media($tablet) {
    width: 100%;
  }
}

.sign-up__message {
  @include span-columns(12);
}

.sign-up__message--active {
  padding: 15px 0;
}

.sign-up__message--fail {
  color: $beyond-salmon;
}

.sign-up__message--success {
  color: $beyond-blue;
}

.sign-up__message a {
  color: $beyond-yellow;
  text-decoration: none;
  border-bottom: solid 2px $beyond-yellow;
}
