
.sign-up {
  @include outer-container();
  padding: 50px $gutter;

  @include media($tablet) {
    padding: 100px $gutter;
  }
}

form {
  @include span-columns(12);
  @include clearfix();

  @include media($tablet) {
    @include span-columns(9);
    @include shift(1.5);
  }
}

label {
  display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.sign-up input {
  float: left;
  border: none;
  outline: none;
  padding: 12px 12px 12px 0;

  border-bottom: solid 8px $beyond-yellow;
}

.sign-up__name,
.sign-up__email {
  width: 40%;

  @include placeholder {
    color: $beyond-yellow;
  }

  @include media($tablet) {
    width: 100%;
  }
}

.sign-up__name {
  margin: 0 1% 0 0;
}

.sign-up__submit {
  color: #FDFFF4;
  background-color: $beyond-blue;
  width: 19%;

  @include media($tablet) {
    width: 100%;
  }
}
.sign-up .sign-up__submit {
  @include media($tablet) {
    border: none;
  }
}

.sign-up__message {
  @include span-columns(12);

  text-align: center;
  padding: 15px 0;
}


.sign-up__message--fail {
  color: $beyond-salmon;
}

.sign-up__message--success {
  color: $beyond-blue;
}

.sign-up__message a {
  color: beyond-yellow;
  text-decoration: none;
  border-bottom: solid 2px $beyond-yellow;
}
