.sponsors {
  @include outer-container();
  padding: 50px 0;
}

.section-header--top-line {
  border-bottom: none;
}

.sponsors__headline {
  padding: 80px 0 100px;
}

.sponsors__partners {
  padding: 80px 0 100px;
  display: table;
  width: 100%;

  .sponsor {
    @include span-columns(4, table);
  }

  .sponsor__image {
    max-width: 60%;
  }
}

.sponsor {
  text-align: center;
}

.sponsor__image {
  vertical-align: middle;
}
