.tickets {
  @include outer-container;
  @include outer-padding;
  margin-bottom: 100px;
}

.tickets__options {
  @include clearfix();
}
.ticket {
  float: left;
  width: 20%;
  border-top: solid 5px $beyond-salmon;
  padding: 20px 0;
  text-align: center;
  color: $beyond-salmon;

  @include media($tablet) {
    width: 40%;
  }
  @include media($mobile) {
    width: 100%;
    padding: 10px 0;
  }
}

.arrow-down {
  margin: -20px auto 0;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid $beyond-salmon;
  @include media($mobile) {
    margin: -10px auto 0;

  }
}

.ticket-countdown {
  float: left;
  width: 20%;
  color: $beyond-salmon;
  vertical-align: top;
  padding: 20px 10px 0;
  text-align: center;

  @include media($mobile) {
    border-top: solid 5px $beyond-salmon;
    width: 100%;
    padding: 20px;
  }
}
.ticket-countdown__contents {
  text-align: left;
  display: inline-block;
  font-size: 0.9em;
  @include media($mobile) {
    text-align: center;
  }
}

.ticket__price {
  display: block;
  margin: 30px auto;
  font-family: $jaapokki;
  font-size: 1.5em;
  letter-spacing: 0.01em;

  @include media($mobile) {
    margin: 10px auto;
  }
}

.ticket__price--unreleased {
  color: RGBA(255, 115, 97, 0.5);
}

.ticket__type {
  display: block;
  font-size: 0.8em;
}

.ticket-countdown__days-left {
  display: inline-block;
  font-size: 3.5em;

  @include media($tablet) {
    font-size: 2.8em;
  }
}
.days-left__num {
  display: inline-block;
  background-color: $beyond-salmon;
  color: #fff;
  padding: 12px 6px 0;
  font-weight: 700;
  line-height: 1;
  font-family: $jaapokki;
  margin: 2px;

}

.ticket-buy-link {
  clear: both;
  width: 80%;
  display: block;
  background-color: $beyond-salmon;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 2.5;
  font-family: $jaapokki;

  @include media($mobile) {
    width: 100%;
  }
}