@import url(http://fonts.googleapis.com/css?family=Varela+Round);

@font-face {
    font-family: 'jaapokki-regular';
    src: url('../fonts/jaapokki-regular.eot');
    src: url('../fonts/jaapokki-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jaapokki-regular.woff') format('woff'),
         url('../fonts/jaapokki-regular.ttf') format('truetype'),
         url('../fonts/jaapokki-regular.svg#jaapokki-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h2 {
  font-size: 1.3em;
  margin: 0 0 35px 0;
  color: $beyond-salmon;
}

h3 {
  margin: 0 0 50px 0;
}

h1, h2, h3 {
  font-weight: normal;
}
